<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>암호찾기</title>
</head>
<body>
    <form method="post" action="/loginpage/finduser">
        <fieldset>
            <div><label for="username">로그인아이디</label><input type="text" id="username" name="username" /></div>
            <div><label for="name">이름</label><input type="text" id="name" name="name" /></div>
            <div><label for="phoneNumber">연락처</label><input type="text" id="phoneNumber" name="phoneNumber" /></div>
            <div><label for="email">이메일</label><input type="text" id="email" name="email" /></div>
            <div><button>비밀번호찾기</button></div>
        </fieldset>
    </form>
</body>
</html>