<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>멤버 정보</title>
</head>

<body>
  <h1>멤버 정보</h1>
  {{#one}}
  <span>로그인아이디</span> <div>{{userId}}</div>
  <span>이름</span> <div>{{name}}</div>
  <span>별명</span> <div>{{nickName}}</div>
  <form id="viewForm" name="viewForm">
    <input type="hidden" id="id" name="id" value="{{id}}" />
  </form>
  {{/one}}
  {{^one}}
  <div>데이터가 없습니다.</div>
  {{/one}}
  <span><button onclick="funModify();">수정</button></span>
  <span><button onclick="funDelete();">삭제</button></span>
</body>
<script>
  function funModify() {
    location.href = "./modify?id=" + document.getElementById("id").value;
  }
  function funDelete() {
    document.viewForm.method = "POST";
    document.viewForm.action = "./delete";
    document.viewForm.submit();
  }
</script>
</html>